#errorMessage{
    color: #f00;
}
#errorMessage span {
    text-decoration: underline;
    cursor: pointer;
}
.error{
    border: 1px solid red;
}
.success{
    border: 1px solid green;
}
.logo{
    height:60px;
}

#uname, #pass{
    width: 400px;
}
#message{
    color: green;
}