::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2e323c;
    //width: 20px;
    //cursor: pointer;
}

