.show{
    display: block;
}
.dontShow{
    display: none;
}
#errorMsg{
    color: #f00;
    text-align: center;
}
.error{
    border: 1px solid red;
}
.success{
    border: 1px solid green;
}
.logo{
    height:60px;
}
.header{
    background-color: #9c7a97;
}
#firstName,
#lastName,
#email,
#pass1,
#pass2,
#phone,
#address,
#city,
#postalCode{
    width: 400px;
}
